@media (min-width:0px) and (max-width:359px){}
@media (min-width:360px) and (max-width:480px){}
@media (min-width:481px) and (max-width:567px){}
@media (min-width:568px) and (max-width:767px){}
@media (min-width:768px) and (max-width:890px){

}
@media (min-width:993px){




}
@media (min-width:993px) and (max-width:1200px){




}

@media (min-width:1201px) and (max-width:1300px){





}


@media(max-width: 993px){

.headTop .list-inline li{
	padding: 0;
	margin: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    line-height: 15px;	
}
.headTop span{
	margin: 0;
}
.headTop .bookAppoint{
	font-size: 14px;
	border-radius: 0px;
}
#wrapper .menubar {
    padding: 10px 15px;
}    
#wrapper .menubar .navbar-nav .nav-link{
    padding: 15px 13px;
    font-size: 15px;
    border-bottom: solid 1px #ddd;
}
#wrapper .menubar .dropdown-item{
    font-size: 14px;
}

.sliderpanel {
    width: 100%;
    height: auto;
    margin: 0px;
    position: relative;
    z-index: 0;
    overflow: visible;
}
.sliderpanel .conatiner{
	padding: 0px;
	margin: 0px;
}
.contactForm {
    position: relative;
    max-width: 100%;
    width: 100%;
    right: 0;
    left: 0;
    top: 0;
    margin: auto;
    z-index: 99;
    background: #00000040;
    padding: 20px;
    border-radius: 0;
}
.contactForm form{
    max-width: 320px;
    margin: auto;
}

#wrapper .welCome,
#wrapper .testBgPanel{
    margin: 0;
    padding: 30px 0;
}

#wrapper .listLoop{
	margin: auto;
}





}

@media (max-width:768px){

.sliderpanel .carousel-item{
	height: 50vh;
}
.sliderpanel .carousel-item .carousel-caption h2{
	font-size: 20px;
}

.has-subnav {
    -webkit-transform: translateY(-74px);
    transform: translateY(-74px);
}
#wrapper .menubar .navbar-nav {
    margin-left: auto !important;
    overflow: auto;
    max-height: 100vh;
}
#wrapper .owl-prev {
    left: 0;
}
#wrapper .owl-next {
    right: 0;
}

#wrapper .listFeatured ul{
	display: block;
}
#wrapper .listFeatured ul li{
	margin-bottom: 20px;
}
#wrapper .testimonialList .card p{
	font-size: 13px;
}

.ourClients ul li{
	display: table;
	margin: auto;
}
.innerBanner{
	height: 200px;
}
#wrapper .page-title-wrapper .wrap-title h1 {
    color: #222;
    font-size: 24px;
}




}
@media (min-width:567px) and (max-width:768px){

}
@media (max-width:567px){



}
@media (max-width:420px){}
@media (max-width:400px){}
@media (max-width:360px){


}